name: shortcut_menu_extender_windows
description: "The Windows implementation of shortcut_menu_extender."
version: 0.1.1
homepage: https://github.com/leanflutter/shortcut_menu_extender

environment:
  sdk: ">=3.0.0 <4.0.0"
  flutter: ">=3.3.0"

dependencies:
  args: ^2.4.2
  ffi: ^2.1.0
  flutter:
    sdk: flutter
  shortcut_menu_extender_platform_interface: ^0.1.1
  win32: ^5.1.1
  win32_registry: ^1.1.2

dev_dependencies:
  flutter_test:
    sdk: flutter
  mostly_reasonable_lints: ^0.1.1

flutter:
  plugin:
    implements: shortcut_menu_extender
    platforms:
      windows:
        pluginClass: ShortcutMenuExtenderWindowsPluginCApi
        dartPluginClass: ShortcutMenuExtenderWindows
