name: shortcut_menu_extender
description: "This plugin allows Flutter apps to Extending global shortcut menus."
version: 0.1.1
homepage: https://github.com/leanflutter/shortcut_menu_extender

environment:
  sdk: ">=3.0.0 <4.0.0"
  flutter: ">=3.3.0"

dependencies:
  flutter:
    sdk: flutter
  shortcut_menu_extender_platform_interface: ^0.1.1
  shortcut_menu_extender_windows: ^0.1.1

dev_dependencies:
  flutter_test:
    sdk: flutter
  mostly_reasonable_lints: ^0.1.1

flutter:
  plugin:
    platforms:
      windows:
        default_package: shortcut_menu_extender_windows
